[Unit]
Description=consul: tool for service discovery, monitoring and configuration
Wants=network.target
After=network.target

[Service]
Type=simple
ProtectHome=true
ProtectSystem=true
ExecStart=/bin/sh -c "/usr/bin/consul agent --config-dir /etc/consul.d/"
Restart=always

[Install]
WantedBy=multi-user.target
